* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.gameWindow {
    width: 1280px;
    height: 1080px;
    background-color: slategray;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#idCanvas {
    background-color: rgb(77, 111, 145);
}

.wrapper {
    display: flex;
    justify-content: center;
}

.newGameUI {
    display: none;
}

* {
    color: rgb(142, 248, 248);
}