* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nautilius Pompilius;
    color: white;
}

@font-face {
    font-family: Nautilius Pompilius;
    src: url(/font/Nautiluspompilius-X7JG.otf);
}

body {
    background-color: black;
}

h1 {
    font-size: 96px;
    font-weight: normal;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.gameWindow {
    width: 1280px;
    height: 1080px;
    background-color: slategray;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mainImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainImage1 {
    margin-right: 39px;
}

.mainImage3 {
    margin-left: 39px;
}

.mainForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#idCanvas {
    background-color: rgb(184, 191, 199);
}

.newGameUI {
    display: none;
}

.buttonNewGame {
    width: 251px;
    height: 75px;
    border-radius: 50px;
    border-style: none;
    font-size: 48px;
    color: black;
    
}